<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <style>
        * { font-family: 'Roboto' }
        body { padding: 40px }
        fieldset { padding: 20px; margin-bottom: 40px}
    </style>
</head>
<body>

    <fieldset>
        <legend>LOGIN</legend>
        <form action="/users/login" method="post">
            <div>
                <label for="email">Email</label>
                <input type="text" name="email" id="email">
            </div>
            <div>
                <label for="password">Contraseña</label>
                <input type="text" name="password" id="password">
            </div>
            <button type="submit">Loguearme</button>
        </form>
    </fieldset>

    <fieldset>
        <legend>REGISTER</legend>
        <form action="/users/create" method="post">
            <div>
                <label for="name">Nombre</label>
                <input type="text" name="name" id="name">
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </div>
            <div>
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password">
            </div>
            <button type="submit">Registrarme</button>
        </form>
    </fieldset>

    <fieldset>
        <legend>CREAR NOTITA</legend>
        <form action="/notes/create" method="post">
            <div>
                <label for="title">Titulo</label>
                <input type="text" name="title" id="title">
            </div>
            <div>
                <label for="text">Texto</label>
                <input type="text" name="text" id="text">
            </div>
            <button type="submit">Crear notita</button>
        </form>
    </fieldset>
    
</body>
</html>